
/* Your CSS Code here. */
div{
	width:100px;
	height:100px;
	font-size:60px;
}
.three{
	background-color:green;
}
.one{
	background-color:red;
}
.two{
	background-color:blue;
}
.holder{
	width:100%;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
}



